# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
package-lock.json

/node_modules

yarn.lock


# Dependency directories
node_modules/
build/


# Optional npm cache directory
.npm

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local